export(makeActiveBinding)
export(.onAttach)
export(q)
export(quit)
export(require)
export(.rk.backups)
export(.rk.cached.available.packages)
export(rk.call.plugin)
export(.rk.callstack.info)
export(.rk.cat.output)
export(rk.clear.plot.history)
export(.rk.data.frame.delete.row)
export(.rk.data.frame.insert.column)
export(.rk.data.frame.insert.row)
export(rk.demo)
export(rk.describe.alternative)
export(.rk.do.call)
export(.rk.do.error)
export(.rk.do.plain.call)
export(rk.duplicate.device)
export(rk.edit)
export(rk.edit.files)
export(.rk.find.package.pluginmaps)
export(rk.first.plot)
export(.rk.fix.assignments)
export(.rk.fix.assignments.graphics)
export(rk.force.append.plot)
export(rk.get.description)
export(.rk.get.environment.children)
export(.rk.getHelp)
export(.rk.getHelpBaseUrl)
export(.rk.get.installed.packages)
export(rk.get.label)
export(.rk.get.meta)
export(rk.get.output.html.file)
export(.rk.get.package.intallation.state)
export(.rk.get.search.results)
export(rk.get.short.name)
export(.rk.get.slots)
export(.rk.get.structure)
export(.rk.get.structure.global)
export(rk.get.tempfile.name)
export(.rk.get.vector.data)
export(rk.get.workspace.url)
export(rk.goto.plot)
export(rk.graph.off)
export(rk.graph.on)
export(rk.header)
export(.rk.inside.rkward.session)
export(.rk.killPreviewDevice)
export(rk.last.plot)
export(rk.list)
export(rk.list.names)
export(rk.list.plugins)
export(rk.load.pluginmaps)
export(.rk.make.hr)
export(rk.make.repos.string)
export(.rk.make.short.name)
export(.rk.make.watch.f)
export(rk.next.plot)
export(rk.old.packages)
export(rk.plot.history.summary)
export(rk.previous.plot)
export(rk.print)
export(rk.print.code)
export(rk.printer.device)
export(rk.print.literal)
export(rk.record.commands)
export(rk.record.plot)
export(rk.relative.src.line)
export(rk.removethis.plot)
export(rk.rename.in.container)
export(rk.replace.function)
export(.rk.rerun.plugin.link)
export(rk.restore.workplace)
export(rk.results)
export(rk.save.workplace)
export(rk.screen.device)
export(rk.select.CRAN.mirror)
export(rk.select.list)
export(rk.sessionInfo)
export(.rk.set.invalid.field)
export(rk.set.label)
export(.rk.set.meta)
export(rk.set.output.html.file)
export(.rk.set.reply)
export(.rk.set.vector.mode)
export(rk.show.files)
export(rk.show.html)
export(rk.show.message)
export(rk.show.plot.info)
export(rk.show.question)
export(.rk.startPreviewDevice)
export(rk.sync)
export(rk.sync.global)
export(rk.toggle.plot.history)
export(.rk.try.get.namespace)
export(.rk.unwatch.symbol)
export(.rk.variables)
export(rk.verify.plot.hist.limits)
export(.rk.watched.symbols)
export(.rk.watch.globalenv)
export(.rk.watch.symbol)
export(setwd)
export(Sys.setlocale)
export(x11)
export(X11)
export(.rk.app.version)
