<!DOCTYPE kpartgui>
<kpartgui name="rkward" version="0.2.9">
<MenuBar>
  <Menu name="file"><text>&amp;File</text>
    <Merge/>
    <Separator/>
    <Action name="file_close_window"/>
  </Menu> 
  
  <Menu name="edit" noMerge="1"><text>&amp;Edit</text>
    <DefineGroup name="edit_undo_merge"/>
    <Separator/>
    <DefineGroup name="edit_paste_merge"/>
    <Separator/>
    <DefineGroup name="edit_select_merge"/>
    <Separator/>
    <DefineGroup name="edit_find_merge"/>
    <Separator/>
    <Merge/>
  </Menu>
  
  <Menu name="run"><text>&amp;Run</text>
    <Separator/>
    <Action name="run_all"/>
    <Action name="run_selection"/>
    <Separator/>
    <Action name="interrupt"/>
  </Menu>   
 
 <Merge/>

</MenuBar>
</kpartgui>
