<!DOCTYPE kpartgui>
<kpartgui name="rkward" version="0.3.3">
	<MenuBar>
		<Menu name="run"><text>&amp;Run</text>
			<Action name="run_line"/>
			<Action name="run_selection"/>
			<Action name="run_all"/>
			<Separator/>
		</Menu>
	</MenuBar>
	<Menu name="help"><text>&amp;Help</text>
		<Action name="function_reference"></Action>
	</Menu>
	<ToolBar fullWidth="true" name="runToolBar">
		<Action name="run_line"/>
		<Action name="run_selection"/>
		<Action name="run_all"/>
	</ToolBar>
</kpartgui>