<!DOCTYPE kpartgui>
<kpartgui name="rkward" version="50">
	<MenuBar>
		<Menu name="file"><text>&amp;File</text>
			<Action name="print_help"/>
		</Menu>
		<Menu name="edit"><text>&amp;Edit</text>
			<Action name="copy"/>
		</Menu>
	</MenuBar>
	<ToolBar fullWidth="true" name="mdiToolBar">
		<Action name="help_back" group="pretoolbar_actions_merge"/>
		<Action name="help_forward" group="pretoolbar_actions_merge"/>
		<Separator group="pretoolbar_actions_merge"/>
	</ToolBar>
</kpartgui>
