<!DOCTYPE kpartgui>
<kpartgui name="rkward" version="52">
	<MenuBar>
		<Merge/>
		<Menu name="window"><text>&amp;Window</text>
			<Merge/>
			<Action name="output_show"/>
			<Separator/>
			<Menu name="window_activate"><text>&amp;Activate</text>
				<Action name="window_show_workspace"/>
				<Action name="window_show_filebrowser"/>
				<Action name="window_show_commandlog"/>
				<Action name="window_show_pendingjobs"/>
				<Action name="window_show_console"/>
				<Action name="window_show_helpsearch"/>
				<Separator/>
				<Action name="window_activate_docview"/>
			</Menu>
			<Merge/>
		</Menu>
		<Menu name="settings"><text>&amp;Settings</text>
			<Action name="options_configure_keybinding"/>
			<Action name="options_configure_toolbars"/>
		</Menu>
		<Menu name="help"><text>&amp;Help</text>
			<Action name="rkward_help" group="prehelp_actions_merge"/>
			<Action name="whats_this" group="prehelp_actions_merge"/>
			<Separator group="prehelp_actions_merge"/>
			<Action name="invoke_r_help" group="prehelp_actions_merge"/>

			<Action name="show_help_search" group="posthelp_actions_merge"/>
			<Separator group="posthelp_actions_merge"/>
			<Action name="report_bug" group="posthelp_actions_merge"/>
			<Action name="about_app" group="posthelp_actions_merge"/>
		</Menu>
	</MenuBar>
</kpartgui>
