# KDE Config File
[Desktop Entry]
Name=RKWard
Name[ast]=RKWard
Name[bs]=RKWard
Name[ca]=RKWard
Name[ca@valencia]=RKWard
Name[cs]=RKWard
Name[de]=RKWard
Name[es]=RKWard
Name[fi]=RKWard
Name[gl]=RKWard
Name[it]=RKWard
Name[nl]=RKWard
Name[pl]=RKWard
Name[pt]=RKWard
Name[pt_BR]=RKWard
Name[sk]=RKWard
Name[sv]=RKWard
Name[uk]=RKWard
Name[x-test]=xxRKWardxx
GenericName=GUI for R
GenericName[ca]=IGU pel R
GenericName[ca@valencia]=IGU pel R
GenericName[de]=Benutzeroberfläche (GUI) für R
GenericName[es]=Interfaz gráfica para R
GenericName[gl]=Interface gráfica para R
GenericName[it]=GUI per R
GenericName[nl]=GUI voor R
GenericName[pl]=Interfejs dla R
GenericName[pt]=Interface para o R
GenericName[pt_BR]=Interface gráfica para R
GenericName[sk]=GUI pre R
GenericName[sv]=Grafiskt användargränssnitt för R
GenericName[uk]=Графічний інтерфейс до R
GenericName[x-test]=xxGUI for Rxx
Comment=GUI for the R-project
Comment[bs]=GUI za R-projekct
Comment[ca]=IGU pel projecte R
Comment[ca@valencia]=IGU pel projecte R
Comment[cs]=Grafické prostředí pro projekt v R
Comment[de]=Benutzeroberfläche für R-Projekt
Comment[es]=Interfaz gráfica para el proyecto R
Comment[fi]=R-kielen graafinen käyttöliittymä
Comment[gl]=Interface gráfica para o proxecto R.
Comment[it]=GUI per il progetto R
Comment[nl]=GUI voor het R-project
Comment[pl]=Interfejs użytkownika dla projektu R
Comment[pt]=Interface gráfica para o projecto R
Comment[pt_BR]=Interface gráfica para o R-project
Comment[sk]=GUI pre R-project
Comment[sv]=Grafiskt användargränssnitt för R-projektet
Comment[uk]=Графічний інтерфейс проекту R
Comment[x-test]=xxGUI for the R-projectxx
Icon=rkward
X-DBUS-ServiceName=org.kde.rkward-open
Exec=rkward --reuse %F
Terminal=false
Type=Application
X-DocPath=rkward/index.html
Categories=Science;Math;NumericalAnalysis;
Keywords=statistics;data;r;
Keywords[ca]=estadística;dades;r;
Keywords[gl]=estatísticas;datos;r;
Keywords[it]=statistiche;dati;r;
Keywords[nl]=statistics;data;r;
Keywords[pt]=estatísticas;dados;r;
Keywords[sv]=statistik;data;r;
Keywords[uk]=statistics;data;r;статистика;дані;р;
Keywords[x-test]=xxstatisticsxx;xxdataxx;xxrxx;
MimeType=text/r;application/rdata;
# vi: encoding=utf-8
