<!DOCTYPE kpartgui>
<kpartgui name="rkward" version="0.3.4">
	<MenuBar>
		<Menu name="run"><text>&amp;Run</text>
			<Merge/>
			<Separator/>
			<Action name="interrupt"/>
		</Menu>
		<Menu name="help"><text>&amp;Help</text>
			<Action name="function_reference"></Action>
		</Menu>
	</MenuBar>
	<ToolBar fullWidth="true" name="runToolBar">
		<Action name="interrupt"/>
		<Separator/>
		<Merge/>
	</ToolBar>
<!-- unfortunately this won't work due to the internal going ons in KTextEdit
	<Menu name="rkconsole_context_menu">
		<Action name="rkconsole_copy"></Action>
		<Action name="rkconsole_paste"></Action>
		<Action name="function_reference"></Action>
		<Action name="interrupt"></Action>
	</Menu> -->
</kpartgui>