<!DOCTYPE kpartgui>
<kpartgui name="rkward" version="51">
	<MenuBar>
		<Menu name="edit"><text>&amp;Edit</text>
			<Action name="rkconsole_copy"></Action>
			<Action name="rkconsole_copy_literal"></Action>
			<Action name="rkconsole_paste"></Action>
			<Separator/>
			<Action name="rkconsole_clear"></Action>
		</Menu>
		<Menu name="run"><text>&amp;Run</text>
			<Action name="interrupt" group="postrun_actions_merge"/>
		</Menu>
		<Menu name="settings"><text>&amp;Settings</text>
			<Action name="rkconsole_configure"></Action>
		</Menu>
	</MenuBar>
	<ToolBar fullWidth="true" name="mdiToolBar">
		<Action name="interrupt" group="postrun_actions_merge"/>
	</ToolBar>
	<Menu name="rkconsole_context_menu">
		<Action name="rkconsole_copy"></Action>
		<Action name="rkconsole_copy_literal"></Action>
		<Action name="rkconsole_paste"></Action>
		<Separator/>
		<DefineGroup name="rkconsole_context_merge1" append="rkconsole_context_merge1"/>
		<Action name="interrupt"></Action>
		<Separator/>
		<DefineGroup name="rkconsole_context_merge2" append="rkconsole_context_merge2"/>
		<Separator/>
		<Action name="rkconsole_clear"></Action>
		<Separator/>
		<Action name="rkconsole_configure"></Action>
	</Menu>
</kpartgui>