# KDE Config File  
[Desktop Entry]
Encoding=UTF-8
Name=RKWard
Comment=GUI for the R-project
Comment[pl]=Graficzny interfejs dla projektu R
Icon=rkward.png
Exec=rkward -caption "%c" %i %m  
Terminal=false
Type=Application
DocPath=rkward/index.html
Categories=Education;Science;Math;
# vi: encoding=utf-8
