# KDE Config File
[Desktop Entry]
Name=RKWard
Name[ast]=RKWard
Name[bs]=RKWard
Name[ca]=RKWard
Name[cs]=RKWard
Name[de]=RKWard
Name[es]=RKWard
Name[fi]=RKWard
Name[gl]=RKWard
Name[nl]=RKWard
Name[pl]=RKWard
Name[pt]=RKWard
Name[pt_BR]=RKWard
Name[sk]=RKWard
Name[sv]=RKWard
Name[uk]=RKWard
Name[x-test]=xxRKWardxx
Comment=GUI for the R-project
Comment[bs]=GUI za R-projekct
Comment[ca]=IGU pel projecte R
Comment[cs]=Grafické prostředí pro projekt v R
Comment[de]=Benutzeroberfläche für R-Projekt
Comment[es]=Interfaz gráfica para el proyecto R
Comment[fi]=R-kielen graafinen käyttöliittymä
Comment[gl]=Interface gráfica para o proxecto R.
Comment[nl]=GUI voor het R-project
Comment[pl]=Interfejs użytkownika dla projektu R
Comment[pt]=Interface gráfica para o projecto R
Comment[pt_BR]=Interface gráfica para o R-project
Comment[sk]=GUI pre R-project
Comment[sv]=Grafiskt användargränssnitt för R-projektet
Comment[uk]=Графічний інтерфейс проекту R
Comment[x-test]=xxGUI for the R-projectxx
Icon=rkward
Exec=rkward --reuse %F
Terminal=false
Type=Application
X-DocPath=rkward/index.html
Categories=Science;Math;NumericalAnalysis;
MimeType=text/r;application/rdata;
# vi: encoding=utf-8
