<!DOCTYPE kpartgui>
<kpartgui name="rkward" version="0.3">
<MenuBar>
	<Menu name="file"><text>&amp;File</text>
		<Menu name="new_data"><text>&amp;New</text>
			<Action name="new_data_frame"/>
			<Action name="new_command_editor"/>
		</Menu>
		<Action name="file_openy"/>
		<Action name="file_open_recenty"/>
		<Separator/>
		<Merge/> 
		<Separator/>
		<Action name="file_quitx"/>
	</Menu>
		
		
	<Menu name="workspace"><text>&amp;Workspace</text>
		<Action name="file_openx"/>
		<Action name="file_open_recentx"/>
		<Action name="file_savex"/>
		<Action name="file_save_asx"/>
		<Separator/>
		<Action name="file_load_libs"/>
	</Menu>
	
	
	<Menu name="edit"><text>&amp;Edit</text>
		<Action name="cut"/>
		<Action name="copy"/>
		<Action name="paste"/>
		<Action name="paste_to_selection"/>
		<Action name="paste_to_table"/>
		<Separator/>
		<Merge/> 
	</Menu>

	<Menu name="output"><text>&amp;Output</text>
		<Separator/>
		<Action name="output_show"/>
		<Action name="output_refresh"/>
		<Separator/>
		<Action name="output_flush"/>
	</Menu>   
	
	<Menu name="run"><text>&amp;Run</text>
		<Separator/>
		<Action name="run_line"/>
		<Action name="run_selection"/>
		<Action name="run_all"/>
		<Separator/>
		<Action name="interrupt"/>
	</Menu>   
 
	<Menu name="settings"><text>&amp;Settings</text>
		<Action name="file_load_libs"/>
		<Action name="configure"></Action>
	</Menu>
	<Menu name="help"><text>&amp;Help</text>
		<Action name="function_reference"></Action>
	</Menu>
 	<Merge/>
</MenuBar>
<ToolBar fullWidth="true" name="mainToolBar">
		<Action name="new_data_frame"/>
		<Action name="new_command_editor"/>
		<Action name="file_openy"/>
		<Action name="file_open_recenty"/>
</ToolBar>
<ToolBar fullWidth="true" name="editToolBar">
		<Action name="cut"/>
		<Action name="copy"/>
		<Action name="paste"/>
		<Separator/>
		<Action name="paste_to_selection"/>
		<Action name="paste_to_table"/>
</ToolBar>
<ToolBar fullWidth="true" name="runToolBar">
		<Action name="interrupt"/>
		<Separator/>
		<Action name="run_selection"/>
		<Action name="run_all"/>
</ToolBar>
</kpartgui>
