# KDE Config File
[Desktop Entry]
Name=RKWard
Comment=GUI for the R-project
Icon=rkward
Exec=rkward -caption "%c" %i
Terminal=false
Type=Application
DocPath=rkward/index.html
Categories=Science;Math;NumericalAnalysis;
# vi: encoding=utf-8
