<!DOCTYPE kpartgui>
<kpartgui name="rkward" version="0.2.3">
<MenuBar>
	<Menu name="file"><text>&amp;File</text>
	</Menu>
	<Menu name="data"><text>&amp;Data</text>
		<Action name="data_close_editor"/>
		<Menu name="data_new_data"><text>&amp;Create New</text>
			<Action name="data_new_data_frame"/>
		</Menu>
	</Menu>
	<Menu name="edit"><text>&amp;Edit</text>
		<Action name="paste_to_selection"/>
		<Action name="paste_to_table"/>
	</Menu>
	<Menu name="settings"><text>&amp;Settings</text>
		<Action name="configure"></Action>
	</Menu>
	<Menu name="windows"><text>&amp;Windows</text>
		<Action name="windows_new_command_editor"/>
		<Separator/>
		<Action name="windows_rkwatch"/>
		<Action name="windows_rkoutput"/>
		<Action name="windows_robjectbrowser"/>
	</Menu>
</MenuBar>
</kpartgui>
