import(methods)
exportClasses(RKTest)
export(rktest.makeplugintests)
export(rktest.replaceRunAgainLink)
exportClasses(RKTestResult)
export(rktest.runRKTestSuite)
export(rktest.setSuiteStandards)
exportClasses(RKTestSuite)
exportMethods(show)
