import(methods)
exportClasses(RKTest)
export(rktest.getTempDir)
export(rktest.makeplugintests)
export(rktest.replaceRunAgainLink)
exportClasses(RKTestResult)
export(rktest.runRKTestSuite)
export(rktest.setSuiteStandards)
exportClasses(RKTestSuite)
export(.rktest.tmp.storage)
exportMethods(show)
