exportClasses(RKTest)
exportClasses(RKTestResult)
exportClasses(RKTestSuite)
exportMethods(show)
export(rktest.getTempDir)
export(rktest.makeplugintests)
export(rktest.replaceRunAgainLink)
export(rktest.runRKTestSuite)
export(rktest.setSuiteStandards)
export(.rktest.tmp.storage)
import(methods)
