Source: rkward
Section: math
Priority: optional
Maintainer: Thomas Friedrichsmeier <tfry@users.sourceforge.net>
DM-Upload-Allowed: yes
Build-Depends: debhelper (>= 6.0.0), kdelibs5-dev, cmake, r-base-dev (>= 2.7.0), libx11-dev
Standards-Version: 3.9.4
Homepage: http://rkward.sourceforge.net
Vcs-Browser: http://rkward.svn.sourceforge.net/viewvc/rkward/trunk/rkward/debian/
Vcs-Svn: http://rkward.svn.sourceforge.net/svnroot/rkward/trunk/rkward/debian/

Package: rkward
Architecture: any
Depends: ${rvers}, ${shlibs:Depends}, ${misc:Depends}
Recommends: r-base-html
Description: KDE frontend to the R statistics language
 RKWard aims to become an easy to use, transparent frontend to R,
 a powerful system for statistical computation and graphics.
 Besides a convenient GUI for the most important statistical functions,
 future versions will also provide seamless integration with an
 office-suite.
