Source: rkward
Section: math
Priority: optional
Maintainer: Thomas Friedrichsmeier <tfry@users.sourceforge.net>
Build-Depends: debhelper (>= 7.0.0), kdelibs5-dev, r-base-dev (>= 2.7.0), libx11-dev
Standards-Version: 3.8.2

Package: rkward
Architecture: any
Depends: php4-cli | php5-cli, ${rvers}, ${shlibs:Depends}
Recommends: r-base-html
Description: a KDE frontend to the R statistics language
 RKWard aims to become an easy to use, transparent frontend to R,
 a powerful system for statistical computation and graphics.
 Besides a convenient GUI for the most important statistical functions,
 future versions will also provide seamless integration with an
 office-suite.
