exportClasses(XiMpLe.doc)
exportClasses(XiMpLe.node)
exportMethods(node)
exportMethods("node<-")
exportMethods(show)
export(parseXMLTree)
export(pasteXMLNode)
export(pasteXMLTag)
export(pasteXMLTree)
import(methods)
